logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.idea
.idea_modules
.classpath
.project
.settings
RUNNING_PID
generated.keystore
generated.truststore
*.log
userProfileImages/

# Scala-IDE specific
.scala_dependencies
.cache-main
.cache-tests
