.title{
    color: #b71818;
}

.input-field.suffix i {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    top: 0px;
    right: 0px;
}

.input-field.suffix i.active {
    color: #26a69a;
}

.input-field.suffix input,
.input-field.suffix textarea {
    margin-right: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.input-field.suffix textarea {
    padding-top: .8rem;
}

.input-field.suffix label {
    margin-right: 3rem;
}

.full-height{
    height: 100%;
}
.image-holder{
    background-color: #ff5356;
    margin:0;
}

.login-section{
    background-color: whitesmoke;
    padding-bottom: 10px;
    border-radius: 10px;
}

.tabs a{
    color: #b71818 !important;
}

.row{
    margin-bottom: 0;
}

.height-mod{
    transition: all 1s ease-in-out;
}

.small-image-holder{
    height: 10vh;
}

.big-image-holder{
    height: 20vh;
}

.small-content-holder{
    height: 60vh;
}

.big-content-holder{
    height: 80vh;
}