body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo{
    padding-left: 10px;
}

#restaurantDropdown{
    top: auto !important;
    width: auto !important;
}