/*#searchBar{
    width: 100%;
}*/
nav{
    margin-bottom: 20px;
}

.inline{
    display: inline-block;
}

.btn:hover, .btn-large:hover, .btn-floating:hover{
    background: #FF9800;
}

h5{
    text-align: center;
}

#addRestaurant{
    width:100%;
}
.add-btn{
    margin: auto;
}

.body{
    height: calc(100vh - 84px);
}

.body > .row{
    height: 100%;
}

.body>.row>*{
    height: 100%;
}

.my-restaurant-container, .news-container{
    height: 80%;
}
.empty-msg{
    width: 100%;
}

.center-panel{
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #BDBDBD;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}