.search-container * .input-field{
    margin-left:auto;
    margin-rigth:auto;
}

.restaurant-card {
    height: 150px;
    border: 1px solid black;
}

.img-container {
    height: 100px;
    text-align: center;
}
img{
    width:100%;
    height: 100px;
}

.icon-container {
    height: 150px;
    text-align: center;
}

.icon {
    width: 100%;
}

.icon i:hover {
    color: red;
    cursor: pointer;
}

.info-container {
    height: 150px;
}

#upButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.load-more{
    width: 100%;
}
.custom-image{
    max-height: 250px;
    height: 250px;
    min-height: 250px;
}