.title h3, .title p, .ngrateit, .calificacion{
    display: inline;
}
.title p {
    color: grey;
    font-size: 0.9em;
}

.title div{
    margin-right: 0;
}

p.address, p.cuisine {
    display: inline;
}
p.address i:hover, p.cuisine i:hover,
p.opening-days i:hover, p.opening-time i:hover{
    color: red;
    cursor: pointer;
}

p.opening-days, p.opening-time{
    display: inline;
}

.menu{
    text-align: center;
}

.image-holder{
    position: relative;
}

.image-holder .btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.delete {
    width: 100%;
}

.image-holder .cancel-photo{
    bottom: 55px;
}

#image-edit{
    display: none;
}

.publish{
    width: 100%;
}

#newMealModal img{
    max-height: 100%;
    max-width: 100%;
}

#newMealModal .modal-content, #editMealModal .modal-content{
    height: 760px;
}

.image-error{
    color: red;
    font-size: 10px;
}

.file-select input{
    width: 100%;
    height: 100%;
    display: none;
}

.file-select{
    position: static !important;
    cursor: pointer !important;
}

.file-select span{
    color: white;
}

td i:hover{
    color: red;
    cursor: pointer;
}

.customInvalid {
    border-bottom: 2px solid red;
}

.invalid {
    border-bottom: 2px solid red;
}

.menu-image{
    max-width: 100px;
    max-height: 50px;
}

.edit-meal-image{
    max-width: 100%;
}