td img{
    max-width: 100px;
    width: 100px;
}

td input{
    max-width: 50px;
}

.fullBtn{
    width: 100%;
}

.prefix{
    color: orange;
}

.send:hover {
    color: darkgoldenrod;
    cursor: pointer;
}