td img{
    max-width: 100px;
    width: 100px;
}

td input{
    max-width: 50px;
}

.fullBtn{
    width: 100%;
}

.prefix{
    color: orange;
}

.send:hover {
    color: darkgoldenrod;
    cursor: pointer;
}

.menu2{
    max-height: 400px;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}