@(messages: Messages)
    @views.html.main("Reservando") {
        @clientNav(messages)
        @languageSelector(messages)
        <div class="container" ng-controller="ClientProfileCtrl as profile">

            <div class="show-info" ng-hide="editMode">
                <div class="row">
                    <div class="col s4 center-align">
                        <img class="responsive-img" width="256px" height="256px"  ng-src="@routes.Assets.versioned("/images/placeholder/placeholder-user.png")" ng-hide="user.photo">
                        <img class="responsive-img" width="256px" height="256px"  ng-src="@routes.Assets.versioned("{{user.photo.path}}")" ng-show="user.photo">
                    </div>
                    <div class="col s8">
                        <div class="row">
                            <div class="col s12">
                                <h3>{{user.firstName}} {{user.lastName}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="ownerEmail" type="text" autofocus ng-model="user.email" readonly>
                                <label for="ownerEmail">@Messages("client.profile.email")</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="ownerAddress" type="text" autofocus ng-model="user.address.completeAddress" readonly>
                                <label for="ownerAddress">@Messages("client.profile.address")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <div class="row">
                            <ng-map center="[{{user.address.lat}}, {{user.address.lng}}]">
                                <marker position="{{user.address.lat}}, {{user.address.lng}}"></marker>
                            </ng-map>
                        </div>
                    </div>
                    <div class="col s8">
                        <div class="row">
                            <div class="col s6">
                                <div class="btn btn-large waves-effect wave-light big-btn" ng-click="setEditMode(true)">@Messages("client.profile.modify.profile")</div>
                            </div>
                            <div class="col s6">
                                <div class="btn btn-large waves-effect wave-light big-btn" ng-click="openChangePasswordModal()">@Messages("client.profile.modify.password")</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="btn btn-large waves-effect waves-light red big-btn" ng-click="openDeleteAccountModal()">@Messages("client.profile.delete.account")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-info" ng-show="editMode">
                <div class="row">
                    <div class="col s4">
                        <h3>@Messages("client.profile.edit.profile")</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <div class="row center-align">
                            <img class="responsive-img" width="256px" height="256px"  ng-src="@routes.Assets.versioned("/images/placeholder/placeholder-user.png")" ng-show="!user.photo && photos.length == 0">
                            <img class="responsive-img" width="256px" height="256px"  ng-src="@routes.Assets.versioned("{{user.photo.path}}")" ng-show="user.photo && photos.length == 0">
                            <img class="responsive-img" width="256px" height="256px" ng-src="{{photos[0].src}}" ng-show="photos.length > 0">
                        </div>
                        <div class="row">
                            <div class="file-field input-field col s12" ng-show="photos.length == 0">
                                <button class="btn file-select big-btn">
                                    <span>@Messages("client.profile.select.photo")</span>
                                </button>
                                <input type="file" multiple ng-file-model="photos" accept="image/*" id="image-input">
                            </div>
                            <div class="file-field input-field col s12" ng-show="photos.length > 0">
                                <div class="col s6">
                                    <div class="btn waves-effect waves-light big-btn" ng-click="savePhoto()">@Messages("client.profile.save")</div>
                                </div>
                                <div class="col s6">
                                    <div class="btn waves-effect waves-light orange big-btn" ng-click="cancelEditPhoto()">@Messages("client.profile.cancel")</div>
                                </div>
                            </div>
                            <label class="image-error" ng-show="errors.photoSize">@Messages("client.profile.error.photo.size")</label>
                        </div>
                    </div>
                    <div class="col s8">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="ownerName" type="text" class="validate" autofocus ng-model="editUser.firstName" ng-class="{invalid: errors.firstName}">
                                <label for="ownerName">@Messages("client.profile.name")</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="ownerLastname" type="text" class="validate" autofocus ng-model="editUser.lastName" ng-class="{invalid: errors.lastName}">
                                <label for="ownerLastname">@Messages("client.profile.lastName")</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="ownerEmail" type="email" class="validate" autofocus ng-model="editUser.email" ng-class="{invalid: errors.email}">
                                <label for="ownerEmail">@Messages("client.profile.email")</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="addressEdit"
                                ng-model="editUser.address.completeAddress" vs-google-autocomplete="options"
                                vs-autocomplete-validator
                                vs-city="editUser.address.city" vs-state="editUser.address.state"
                                vs-country="editUser.address.country" vs-district="editUser.address.district"
                                vs-latitude="editUser.address.lat" vs-longitude="editUser.address.lng" autofocus>
                                <label for="addressEdit">@Messages("client.profile.address")</label>
                            </div>
                        </div>
                        <div class="row info-buttons">
                            <div class="col s6">
                                <div class="waves-effect wave-light btn btn-large big-btn big-btn" ng-click="submitUser()">@Messages("client.profile.modify.info")</div>
                            </div>
                            <div class="col s6">
                                <div class="waves-effect wave-light btn btn-large orange big-btn big-btn" ng-click="setEditMode(false)">@Messages("client.profile.cancel")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Delete account modal *@
            <div id="deleteAccountModal" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <h4>@Messages("client.profile.delete.account")</h4>
                    </div>
                    <div class="row">
                        <h5>@Messages("client.profile.delete.account.question")</h5>
                    </div>
                </div>
                <div class="modal-footer delete-footer">
                    <div class="modal-action modal-close waves-effect waves waves-light btn">@Messages("client.profile.cancel")</div>
                    <div class="waves-effect waves waves-red btn btn-flat delete-btn right" ng-click="deleteAccount()">@Messages("client.profile.delete.account")</div>
                </div>
            </div>
            @* Modal for changing the password *@
            <div id="changePasswordModal" class="modal modal-fixed-footer">
                <div class="modal-content container">
                    <div class="row">
                        <h4>@Messages("client.profile.change.password")</h4>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="previousPassword" type="password" class="validate" ng-model="previousPassword">
                            <label>@Messages("client.profile.old.password")</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field suffix col s12">
                            <input id="newPassword1" type="password" class="field" ng-model="newPassword1" ng-class="{valid: validPassword && input1Touched, invalid: !validPassword && input1Touched}" ng-change="validatePassword1()">
                            <label>@Messages("client.profile.new.password")</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="newPassword2" type="password" class="field" ng-model="newPassword2" ng-class="{valid: equalPasswords && input2Touched, invalid: !equalPasswords && input2Touched}" ng-change="validatePassword2()">
                            <label>@Messages("client.profile.confirm.new.password")</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div href="" class=" modal-action modal-close waves-effect waves-red btn-flat">@Messages("client.profile.cancel")</div>
                    <div class="waves-effect waves-green btn-flat" ng-click="changePassword()">@Messages("client.profile.save")</div>
                </div>
            </div>
        </div>

    }{
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owner/ownerProfile.css")">
    } {
        <script src="@routes.Assets.versioned("javascripts/utils/geocode.js")"></script>
        <script src="@routes.Assets.versioned("external/ngMap/ng-map.min.js")"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM9GdrRT-5ML6OHeHGIIs0zNFjJmOaQUM&libraries=places"></script>
    <script src="@routes.Assets.versioned("external/vs-google-autocomplete/vs-google-autocomplete.js")"></script>
    <script src="@routes.Assets.versioned("external/vs-google-autocomplete/vs-autocomplete-validator.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/client/clientProfile.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/languageSelector.js")"></script>
    }