@()
@views.html.main("Reservando"){
    @clientNav()
    <div ng-controller="ClientHomeCtrl">
       <div class="container body">

           @*Search bar*@
           <div>
               <div class="row">
                   <div class="input-field col m6 offset-m3">
                       <input placeholder="Busque por nombre o cocina" id="searchInput" type="text" ng-model="wordToSearch" class="autocomplete" ng-change="searchForAutocomplete()">
                   </div>
                   <div class="col m2">
                       <a id="searchButton" class="waves-effect wave-light btn" ng-click="search()">Buscar</a>
                   </div>
               </div>
           </div>

           @*Another way to see, delete if not used*@
           @*Search filters*@
           @*<div>
               <div class="row">
                   <div class="col m6 offset-m3">
                       <div class="row">
                           <div class="col m4">
                               <input type="radio" class="with-gap" id="filterByName" name="filterGroup" ng-model="filterByName" ng-value="true">
                               <label for="filterByName">Nombre</label>
                           </div>
                           <div class="col m4">
                               <input type="radio" class="with-gap" id="filterByCuisine" name="filterGroup" ng-model="filterByCuisine" ng-value="false">
                               <label for="filterByCuisine">Cocina</label>
                           </div>
                           <div class="col m4">
                               <input type="radio" class="with-gap" id="filterByLocalization" name="filterGroup" ng-model="filterByLocalization" disabled="disabled" ng-value="false">
                               <label for="filterByLocalization">Ubicación</label>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col m6 offset-m3">
                       <div class="row">
                           <div class="col m4">
                               <input type="radio" class="with-gap" id="filterByLocal" name="filterGroup" ng-model="filterByRestaurant" ng-value="false">
                               <label for="filterByLocal">Restaurant</label>
                           </div>
                           <div class="col m4">
                               <input type="radio" class="with-gap" id="filterByDelivery" name="filterGroup" ng-model="filterByDelivery" ng-value="false">
                               <label for="filterByDelivery">Delivery</label>
                           </div>
                       </div>
                   </div>
               </div>
           </div>*@

           @*Results*@
           <div class="row">
               @*Filters*@
               <div class="col m3" ng-show="showFilters()">
                  <ul class="collection">
                      <li class="collection-item">
                          <h5>Tipo de local:</h5>
                          <p ng-show="filtersToShow.thereAreRestaurants">
                              <input type="checkbox" class="filled-in" id="filterByRestaurant" ng-model="filtersApplied.showRestaurants" ng-change="applyFilters()" ng-checked="true">
                              <label for="filterByRestaurant">Restaurant</label>
                          </p>
                          <p ng-show="filtersToShow.thereAreDeliveries">
                              <input type="checkbox" class="filled-in" id="filterByDelivery" ng-model="filtersApplied.showDeliveries" ng-change="applyFilters()" ng-checked="true">
                              <label for="filterByDelivery">Delivery</label>
                          </p>
                      </li>
                      <li class="collection-item">
                          <h5>Zona:</h5>
                          <p ng-repeat="zone in zones">
                              <input type="checkbox" class="filled-in" id="filterByZone{{zone.zone}}" ng-checked="true">
                              <label for="filterByZone{{zone.zone}}">{{zone.zone}}</label>
                          </p>
                      </li>
                      <li class="collection-item">
                          <h5>Cocina:</h5>
                          <p ng-repeat="cuisine in filtersToShow.cuisines">
                              <input type="checkbox" class="filled-in" id="filterByCuisine{{cuisine.name}}" ng-model="filtersApplied.showThisCuisines[getIndex(cuisine)].isActive" ng-change="applyFilters()" ng-checked="true">
                              <label for="filterByCuisine{{cuisine.name}}">{{cuisine.name}}</label>
                          </p>
                      </li>
                  </ul>
               </div>
               @*Results*@
               <div class="col m9" ng-show="showResults()">
                   @*Results without filters*@
                   <div class="row" ng-show="result.showSearchWithoutFilters">
                       <ul class="collection col m11 offset-m1">
                           <li class="collection-item" ng-repeat="result in result.allResults">
                               <div class="row">
                                   <div class="col m2">
                                       <img class="responsive-img" ng-src="@routes.Assets.versioned("{{result.photo.path}}")" ng-show="result.photo">
                                       <img class="responsive-img" ng-src="@routes.Assets.versioned("images/placeholder/restaurant.jpg")" ng-hide="result.photo">
                                   </div>
                                   <div class="col m8">
                                       <span class="title">{{result.name}}</span>
                                       <p class="truncate">{{result.description}}<br>
                                           {{result.address.address}}
                                       </p>
                                   </div>
                                   <div class="col m2">
                                       <div class="row"></div>
                                       <a class="waves-effect waves-light btn-large" ng-click="openLocal(result.id)">Ver</a>
                                   </div>
                               </div>
                           </li>
                       </ul>
                   </div>
                   @*Results with filters*@
                   <div class="row" ng-show="result.showSearchWithFilters">
                       <ul class="collection col m11 offset-m1">
                           <li class="collection-item" ng-repeat="result in result.resultsWithFilters">
                               <div class="row">
                                   <div class="col m2">
                                       <img class="responsive-img" ng-src="@routes.Assets.versioned("{{result.photo.path}}")" ng-show="result.photo">
                                       <img class="responsive-img" ng-src="@routes.Assets.versioned("images/placeholder/restaurant.jpg")" ng-hide="result.photo">
                                   </div>
                                   <div class="col m8">
                                       <span class="title">{{result.name}}</span>
                                       <p class="truncate">{{result.description}}<br>
                                           {{result.address.address}}
                                       </p>
                                   </div>
                                   <div class="col m2">
                                       <div class="row"></div>
                                       <a class="waves-effect waves-light btn-large" ng-click="openLocal(result.id)">Ver</a>
                                   </div>
                               </div>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="col m9" ng-show="noResults()">
                   <div class="row">
                       <div class="center-align">
                           <h5>
                               No se encontraron resultados
                           </h5>
                       </div>
                   </div>
               </div>
           </div>

           @*Result in a map*@
           <div class="row" ng-show="showResults()">
               <div class="col m12">
                   <ng-map id="results-map" zoom="11" lazy-init="true">
                       <info-window id="myInfoWindow">
                            <div ng-non-bindable>
                                <div class="row">
                                    <div class="col m12">
                                        <h5>{{restaurantSelectedInMap.name}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col m6">
                                        <img width="200" class="responsive-img" ng-src="@routes.Assets.versioned("{{restaurantSelectedInMap.photo.path}}")" ng-show="restaurantSelectedInMap.photo" align="left">
                                        <img width="200" class="responsive-img" ng-src="@routes.Assets.versioned("images/placeholder/restaurant.jpg")" ng-hide="restaurantSelectedInMap.photo" align="left">
                                    </div>
                                    <div class="col m2 offset-m2">
                                        <a class="waves-effect waves-light btn" ng-click="openLocal(restaurantSelectedInMap.id)">Ver</a>
                                    </div>
                                </div>
                            </div>
                       </info-window>
                       <marker id="{{restaurant.id}}" ng-repeat="restaurant in result.allResults" position="[{{restaurant.address.lat}},{{restaurant.address.lng}}]" on-click="showInfoMarker(event, restaurant)">
                       </marker>
                   </ng-map>
               </div>
           </div>

           @*Recommendations*@
           <div id="recommendations">
               <div class="row">
                   <div class="col m6">
                       <h5>Sugerencias</h5>
                   </div>
               </div>
               <div class="row">
                   <div class="col m12">
                       <div class="slider">
                           <button ng-click="openLocal()">
                               <ul class="slides">
                                   <li ng-repeat="recommendation in recommendations">
                                       @*Throwing a Not Found. Correct later*@
                                       @*<img class="responsive-img" ng-src="@routes.Assets.versioned("{{recommendation.photo.path}}")" ng-show="recommendation.photo">*@
                                       <img class="responsive-img" ng-src="@routes.Assets.versioned("images/placeholder/restaurant.jpg")" ng-hide="recommendation.photo">

                                       <div class="caption center-align">
                                           <h3>{{recommendation.name}}</h3>
                                           <h5 class="ligh grey-text text-lighten-3 truncate">{{recommendation.description}}</h5>
                                       </div>
                                   </li>
                               </ul>
                           </button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
}{
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/clientHome.css")">
}{
    <script src="@routes.Assets.versioned("javascripts/client/clientHome.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/utils/geocode.js")"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDM9GdrRT-5ML6OHeHGIIs0zNFjJmOaQUM&libraries=places&callback=initGoogleMapFunctionality"></script>
    <script src="@routes.Assets.versioned("external/ngMap/ng-map.min.js")"></script>

}