@(messages: Messages)
@views.html.main("Reservando") {
    <!-- Dropdown Trigger -->
    <div class="fixed-action-btn">
        <a class='btn-floating btn-large' href='#'>
            <i class="large material-icons">language</i>
        </a>
        <ul>
            <li><a ng-click="changeToSpanish">@Messages("language.spanish")</a></li>
            <li><a ng-click="changeToEnglish">@Messages("language.english")</a></li>
        </ul>
    </div>

}{
}{
    <script src="@routes.Assets.versioned("javascripts/languageDropdown.js")"></script>
}





