@()
@views.html.main("Reservando") {
    @ownerNav()
    <div ng-controller="LocalProfileCtrl">

        <div class="row">
            <div class="input-field col s12">
                <input id="restaurantDescription" type="text" ng-model="newRestaurant.description">
                <label for="restaurantDescription">Descripción</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field" ng-class="{'col s12': newRestaurant.cuisines.length == 0, 'col s4': newRestaurant.cuisines.length != 0,}">
                <select class="" ng-model="selectedCuisine" material-select watch ng-change="addCuisine()">
                    <option value="" selected disabled>Tipos de comida</option>
                    <option ng-repeat="cuisine in cuisines" value={{cuisine}}>{{cuisine.name}}</option>
                </select>
            </div>
            <div class="input-field col s8" id="cuisine-container" ng-show="newRestaurant.cuisines.length != 0">
                <div class="custom-chip" ng-repeat="cuisine in newRestaurant.cuisines">
                    {{cuisine.name}}
                    <span class="closebtn" ng-click="removeCuisine($index)">&times;</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select class="" ng-model="selectedDay" material-select watch ng-change="addDay()">
                    <option value="" selected disabled>Seleccionar día habil</option>
                    <option ng-repeat="day in days" value={{day}}>{{day.name}}</option>
                </select>
            </div>
        </div>
        <div class="row" id="days-container" ng-show="newRestaurant.days.length != 0">
            <div class="custom-chip" ng-repeat="day in newRestaurant.days">
                {{day.name}}
                <span class="closebtn" ng-click="removeDay($index)">&times;</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="openTimePicker" type="text" input-clock
                data-twelvehour="false" ng-model="newRestaurant.openHour">
                <label for="openTimePicker">Hora de apertura</label>
            </div>
            <div class="input-field col s6">
                <input id="closeTimePicker" type="text" input-clock
                data-twelvehour="false" ng-model="newRestaurant.closeHour">
                <label for="closeTimePicker">Hora de cierre</label>
            </div>
        </div>
    </div>
}{
    @Html("")
}{
    @Html("")
}