@(messages: Messages)
@views.html.main("Reservando") {
    @ownerNav(messages)
    @languageSelector(messages)
    <div class="container" ng-controller="MyReservationsCtrl">
        <div class="row title">
            <h3>@Messages("owner.my.reservations.my.reservations")</h3>
        </div>
        <div class="row title" ng-show="reservations.length == 0">
            <h4>@Messages("owner.my.reservations.no.reservation")</h4>
        </div>
        <div class="row" ng-show="reservations.length != 0">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li ng-repeat="reservation in reservations | filter: filterByPage">
                    <div class="collapsible-header" ng-class="{'active': $first}"><i class="material-icons"><i class="material-icons">restaurant</i></i>{{reservation.local.name}}  -  {{getDateTimeFormat(reservation.date)}}<span class="right" ng-show="isExpire(reservation)">@Messages("owner.my.reservations.finished")</span></div>
                    <div class="collapsible-body container">
                        <div class="row">
                            <div class="col s12">
                                <div class="row"><h5>@Messages("owner.my.reservations.info")</h5></div>
                                <div class="row">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>@Messages("owner.my.reservations.date")</td>
                                                <td>{{getDate(reservation.date)}}</td>
                                                <td>@Messages("owner.my.reservations.address")</td>
                                                <td>{{reservation.local.address.completeAddress}}</td>
                                            </tr>
                                            <tr>
                                                <td>@Messages("owner.my.reservations.time")</td>
                                                <td>{{getTime(reservation.date)}}</td>
                                                <td>@Messages("owner.my.reservations.amount.of.people")</td>
                                                <td>{{reservation.amount}}</td>
                                            </tr>
                                            <tr ng-show="reservation.discount">
                                                <td>@Messages("owner.my.reservations.discount.code")</td>
                                                <td>{{reservation.discount.code}} - {{reservation.discount.discount}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col s6 offset-s3"><div class="btn btn-large fullBtn" ng-click="toRestaurant(reservation)">@Messages("owner.my.reservations.view.restaurant")</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row center-align" ng-show="reservations.length != 0">
            <pagination
            page="1"
            page-size="9"
            total="reservations.length"
            show-prev-next="true"
            use-simple-prev-next="false"
            dots="...."
            hide-if-empty="true"
            adjacent="2"
            scroll-top="false"
            pagination-action="changePage(page)" />
        </div>
    </div>
} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/client/newOrder.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/client/myOrders.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/owner/myReservations.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/languageSelector.js")"></script>
}