@(messages: Messages)
@views.html.main("Reservando") {
    @ownerNav(messages)
    @languageSelector(messages)
    <div class="container" ng-controller="MyOrdersCtrl">
        <div class="row title">
            <h3>@Messages("owner.my.orders.my.orders")</h3>
        </div>
        <div class="row title" ng-show="orders.length == 0">
            <h4>@Messages("owner.my.orders.no.orders")</h4>
        </div>
        <div class="row" ng-show="orders.length != 0">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li ng-repeat="order in orders | filter: filterByPage">
                    <div class="collapsible-header" ng-class="{'active': $first}"><i class="material-icons"><i class="material-icons">local_shipping</i></i>{{order.delivery.name}} -  {{getDateTimeFormat(order.timePlaced)}}<span class="right" ng-show="isExpire(order)">@Messages("owner.my.orders.finished")</span></div>
                    <div class="collapsible-body container">
                        <div class="row">
                            <div class="col s6">
                                <div class="row">
                                    <h5>@Messages("owner.my.orders.client")</h5>
                                    <h6>{{order.clientName}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <div class="row"><h5>@Messages("owner.my.orders.info")</h5></div>
                                <div class="row">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>@Messages("owner.my.orders.delivery.address")</td>
                                                <td>{{order.address}}</td>
                                            </tr>
                                            <tr ng-show="order.discount">
                                                <td>@Messages("owner.my.orders.discount.code")</td>
                                                <td>{{order.discount.code}} - {{order.discount.discount}}%</td>
                                            </tr>
                                            <tr>
                                                <td>@Messages("owner.my.orders.total.price")</td>
                                                <td>${{calculateTotal(order)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col s6">
                                <div class="row"><h5>@Messages("owner.my.orders.meals")</h5></div>
                                <div class="row">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td>@Messages("owner.my.orders.meals")</td>
                                                <td>@Messages("owner.my.orders.name")</td>
                                                <td>@Messages("owner.my.orders.price")</td>
                                                <td>@Messages("owner.my.orders.quantity")</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="orderMeal in order.meals">
                                                <td></td>
                                                <td>{{orderMeal.meal.name}}</td>
                                                <td>${{orderMeal.meal.price}}</td>
                                                <td>{{orderMeal.amount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row center-align" ng-show="orders.length != 0">
            <pagination
            page="1"
            page-size="9"
            total="orders.length"
            show-prev-next="true"
            use-simple-prev-next="false"
            dots="...."
            hide-if-empty="true"
            adjacent="2"
            scroll-top="false"
            pagination-action="changePage(page)" />
        </div>
    </div>
} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/client/newOrder.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/client/myOrders.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/owner/myOrders.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/languageSelector.js")"></script>
}