@()
@views.html.main("Reservando") {
    @ownerNav()
    <div ng-controller="OwnerHomeCtrl">
        <div class="container body" >
            <div class="row">
                <div class="col m6">
                    <div class="row">
                        <h5 class="center">
                            Mis Restaurantes
                                <div class="btn-floating accent-color" ng-click="openAddRestaurant()"><i class="material-icons">add</i></div>
                                <div class="btn-floating accent-color" ng-click="openRestaurants()"><i class="material-icons">view_list</i></div>
                        </h5>
                    </div>
                    <table class="center responsive-table highlight centered" ng-show="restaurants.length != 0">
                        <thead>
                            <tr>
                                <th data-field="id">Nombre</th>
                                <th data-field="name">Tipo</th>
                                <th data-field="state">Estado</th>
                                <th data-field="state">Publicar</th>
                                <th data-field="price">Modificar/Ver</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="restaurant in restaurants">
                                <td>{{restaurant.name}}</td>
                                <td>{{restaurant.local ? "Local" : "Delivery"}}</td>
                                <td>{{restaurant.published ? "Publicado" : "No Publicado"}}</td>
                                <td ng-hide="restaurant.published"><i class="material-icons publish" ng-click="publicateRestaurant(restaurant, true)">publish</i></td>
                                <td ng-show="restaurant.published"><i class="material-icons unpublish" ng-click="publicateRestaurant(restaurant, false)">publish</i></td>
                                <td><i class="material-icons view" ng-click="openRestaurantProfile(restaurant)">edit</i></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row continues" ng-show="continues">
                        <div class="btn hoverable " ng-click="openRestaurants()">Ver más Restaurantes</div>
                    </div>
                    <div class="my-restaurant-container valign-wrapper" ng-show="restaurants.length == 0">
                        <div class="valign center empty-msg">
                            <h5>Todavia no tienes restaurantes</h5>
                            <div id="addRestaurant">
                                <div class="btn-large accent-color add-btn" ng-click="openAddRestaurant()">
                                    AGREGAR RESTAURANTE
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m6 center-panel">
                    <div class="row">
                        <h5 class="center">Reservas y Pedidos</h5>
                    </div>
                    <div class="news-container valign-wrapper">
                        <div class="news-item" ng-repeat="new in news">

                        </div>
                        <div ng-show="news.length == 0" class="valign center empty-msg">
                            <h5>Todavia no tienes pedidos o reservaciones</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owner/ownerHome.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/owner/ownerHome.js")"></script>
}