@(messages: Messages)
<!-- Dropdown Structure -->
<ul id="restaurantDropdown" class="dropdown-content owenr">
    <li><a href="/owner/restaurants">@Messages("owner.navBar.my.restaurants")</a></li>
    <li class="divider"></li>
    <li><a href="/owner/new-restaurant">@Messages("owner.navBar.new.restaurant")</a></li>
</ul>
<nav class="red darken-1">
    <div class="nav-wrapper">
        <a href="/owner/home" class="brand-logo">Reservando</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="restaurantDropdown">@Messages("owner.navBar.restaurants")</a></li>
            <li><a href="/owner/my-orders">@Messages("owner.navBar.orders")</a></li>
            <li><a href="/owner/my-reservations">@Messages("owner.navBar.reservations")</a></li>
            <li><a href="/owner/profile">@Messages("owner.navBar.profile")</a></li>
            <li><a href="/logout">@Messages("owner.navBar.logout")</a></li>
        </ul>
    </div>
</nav>