@()
@views.html.main("Reservando") {
    @ownerNav()
    <div class="container" ng-controller="RestaurantCtrl">
        <div class="row">
            <img src="http://placehold.it/350x150" alt="" class="materialboxed" width="100%" height="300px">
        </div>
        <div class="row">
            <div class="col s12 info-contanier">
                <div class="row title">
                    <h3>{{restaurant.name}}</h3>
                    <p>Todavia no fue calificado</p>
                </div>
                <div class="row">
                    <p class="address"><i class="material-icons">location_on</i>{{restaurant.address}}</p>
                    <p class="cuisine"><i class="material-icons">restaurant</i><span ng-repeat="cuisine in restaurant.cuisines">{{ $first ? "" : ","}} {{cuisine.name}}</span></p>
                </div>
                <div class="row">
                    <p class="opening-days" ng-show="restaurant.days.length() == 7"><i class="material-icons">data_range</i> Todos los días</p>
                    <p class="opening-days" ng-hide="restaurant.days.length() == 7"><i class="material-icons">date_range</i><span ng-repeat="day in restaurant.openingDays">{{$first?"":", "}}{{day.day}}</span></p>
                    <p class="opening-time"><i class="material-icons">schedule</i> De {{restaurant.openingHour}} a {{restaurant.closingHour}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <p>{{restaurant.description}}</p>
                </div>
                <div class="row">
                    <ng-map center="[40.74, -74.18]">

                    </ng-map>
                </div>
            </div>
            <div class="col s6 menu">
                <h5>Menu</h5>
                <div class="row" ng-repeat="meal in restaurant.menu">
                    {{meal.name}}
                </div>
                <div class="row" ng-hide="restaurant.menu">
                    El menu todavia no se encuentra definido
                </div>
            </div>
        </div>

    </div>
} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owner/restaurant.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/utils/geocode.js")"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="@routes.Assets.versioned("external/ngMap/ng-map.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/owner/restaurant.js")"></script>
}