@(messages: Messages)
@views.html.main("Reservando") {
    @clientNav(messages)
    @languageSelector(messages)
    <div class="container" ng-controller="RestaurantCtrl">
        <div class="row image-holder">
            <img ng-src="@routes.Assets.versioned("{{restaurant.photo.path}}")" alt="" class="materialboxed" width="100%" height="300px">
        </div>
        <div class="row title">
            <div class="col s8">
                <h3>{{restaurant.name}}</h3>
                <p ng-show="!totalQualification || totalQualification == -1">@Messages("client.restaurant.not.rated")</p>
                <ng-rate-it ng-model="totalQualification" min="0" max="5" read-only="true" ng-hide="!totalQualification || totalQualification == -1"></ng-rate-it>
            </div>
            <div class="col s3 offset-s1">
                <div class="btn" ng-click="openReservationPage(restaurant.id)" ng-show="restaurant.isLocal">@Messages("client.restaurant.make.reservation")</div>
                <div class="btn" ng-click="openOrderPage(restaurant.id)" ng-hide="restaurant.isLocal">@Messages("client.restaurant.make.order")</div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 info-contanier">
                <div class="row">
                    <div class="col s12">
                        <p class="address"><i class="material-icons">location_on</i>{{restaurant.address.completeAddress}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p class="cuisine"><i class="material-icons">restaurant</i><span ng-repeat="cuisine in restaurant.cuisines">{{ $first ? "" : ","}} {{cuisine.name}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p class="opening-days" ng-show="restaurant.days.length() == 7"><i class="material-icons">data_range</i> @Messages("client.restaurant.all.days")</p>
                        <p class="opening-days" ng-hide="restaurant.days.length() == 7"><i class="material-icons">date_range</i><span ng-repeat="day in restaurant.openingDays">{{$first?"":", "}} {{getTranslateDay(day)}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p class="opening-time"><i class="material-icons">schedule</i> @Messages("client.restaurant.from"): {{restaurant.openingHour}} @Messages("client.restaurant.to"): {{restaurant.closingHour}}</p>
                    </div>
                </div>
                <div class="row" ng-hide="restaurant.isLocal || restaurant.local">
                    <div class="col s12">
                        <p class="opening-time"><i class="material-icons">query_builder</i> @Messages("client.restaurant.average.delivery.time"): {{restaurant.responseTime}}</p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <h5 class="calificacion" ng-show="personalQualification == -1">@Messages("client.restaurant.rate.service")</h5>
                    <h5 class="calificacion" ng-hide="personalQualification == -1">@Messages("client.restaurant.your.rating")</h5>
                    <ng-rate-it ng-model="personalQualification" min="0" max="5" ng-click="qualifyRestaurant()" resetable="false" pristine="true"></ng-rate-it>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>{{restaurant.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <ng-map center="[{{restaurant.address.lat}}, {{restaurant.address.lng}}]">
                        <marker position="{{restaurant.address.lat}}, {{restaurant.address.lng}}"></marker>
                    </ng-map>
                </div>
            </div>
            <div class="col s6 menu">
                <div class="row">
                    <div class="col s2 offset-s5">
                        <h5>@Messages("client.restaurant.menu")</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="highlight centered responsive-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Messages("client.restaurant.name")</th>
                                    <th>@Messages("client.restaurant.description")</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="meal in menu">
                                    <td><img ng-src="@routes.Assets.versioned("{{meal.photo.path}}")" class="responsive-img menu-image"></td>
                                    <td>{{meal.name}}</td>
                                    <td>{{meal.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-hide="menu.length > 0">
                    <p>@Messages("client.restaurant.the.menu.is.not.defined")</p>
                </div>
            </div>
        </div>
    </div>
} {
    <link rel="stylesheet" href="@routes.Assets.versioned("external/angular-rateit-master/src/style/ng-rateit.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owner/restaurant.css")">
} {
    <script src="@routes.Assets.versioned("external/angular-rateit-master/src/ng-rateit.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/utils/geocode.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx5ARsKyUaIV0uBUuCs7M6HxvUOtvcm-E&libraries=places&callback=initAutocomplete"
    async defer></script>
    <script src="@routes.Assets.versioned("external/ngMap/ng-map.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/client/restaurant.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/languageSelector.js")"></script>
}