@()
@views.html.main("Reservando") {
    @ownerNav()
    <div ng-controller="OwnerRestaurantProfileCtrl">
        <div class="name-section row">
            <h3>{{restaurant.name}}</h3>
        </div>
        <div class="info-section row">
            <div class="col m6 input-field">
                <label for="description">Descripcion:</label>
                <textarea name="description" id="description" cols="30" rows="10" ng-model="restaurant.description"></textarea>
            </div>
            <div class="col m6 input-field">
                <label for="address">Direccion:</label>
                <input type="text" id="address" ng-model="restaurant.address">
            </div>
            <div class="col m6">
                <div class="chip" ng-repeat="cuisine in restaurant.cuisines">
                    {{cuisine.name}}
                    <i class="close material-icons" ng-click="removeCuisine($index)">close</i>
                </div>
            </div>
            <div class="col m6 input-field">
                <label for="cuisine">Agregar tipo de comida</label>
                <input type="text" id="cuisine">
            </div>
        </div>
        <div class="info-2-section row">

        </div>
        <div class="menu-section">

        </div>
    </div>


} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/ownerHome.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/ownerRestaurant.js")"></script>
}